.Gif {
  border: 2px solid #eee;
  border-radius: 2px;
  display: flex;
  width: 100%;
  margin: 16px;
  flex-direction: column;
  color: #eee;
  text-decoration: none;
}
.Gif img {
  object-fit: contain;
}
