.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
  color: white;
}
html {
  background-color: #282c34;
}

input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Trend {
  border: 2px solid #eee;
  border-radius: 2px;
  display: flex;
  width: 100%;
  margin: 16px;
  flex-direction: column;
  color: #eee;
  text-decoration: none;
  padding: 0 0 16px 0;
}
